name: CI
on: [push]
jobs:
  lhci:
    name: Lighthouse
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Lighthouse
        if: ${{ secrets.SHOP_STORE_OS2 != '' }}
        uses: shopify/lighthouse-ci-action@v1
        with:
          store: ${{ secrets.SHOP_STORE_OS2 || 'dummy-store' }}
          password: ${{ secrets.SHOP_PASSWORD_OS2 || 'dummy-password' }}
          access_token: ${{ secrets.SHOP_ACCESS_TOKEN || 'dummy-token' }}
          collection_handle: all
          lhci_github_app_token: ${{ secrets.LHCI_GITHUB_TOKEN || 'dummy-token' }}
          pull_theme: ${{ secrets.SHOP_PULL_THEME || 'dummy-theme' }}
  theme-check:
    name: Theme Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Theme Check
        uses: shopify/theme-check-action@v2
        with:
          token: ${{ github.token }}
